ifrSKEYESIntranet/WS/EasiCRMWS.wsdl

<?xml version='1.0' encoding='UTF-8'?>

<definitions name="EasiCRMWS" targetNamespace="http://localhost/MissionsStage5A/ifrSKEYESIntranet/WS/EasiCRMWS.php"
             xmlns:tns="http://localhost/MissionsStage5A/ifrSKEYESIntranet/WS/EasiCRMWS.php"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
             xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
             xmlns="http://schemas.xmlsoap.org/wsdl/">

    <message name="getNewsTitles" />
    <message name="getNewsTitlesResponse">
        <part name="getNewsTitlesReturn" />
    </message>
    
    <message name="getOnGoingOpportunities" />
    <message name="getOnGoingOpportunitiesResponse">
        <part name="getOnGoingOpportunitiesReturn" />
    </message>
    
    <message name="getCompaniesForUser" />
    <message name="getCompaniesForUserResponse">
        <part name="getCompaniesForUserReturn" />
    </message>
    
    <message name="getContacts" />
    <message name="getContactsResponse">
        <part name="getContactsReturn" />
    </message>
    
    <message name="getMesRelances" />
    <message name="getMesRelancesResponse">
        <part name="getMesRelancesReturn" />
    </message>
    
    <portType name="EasiCRMWSPortType">
        <operation name="getNewsTitles">
            <input message="typens:getNewsTitles" />
            <output message="typens:getNewsTitlesResponse" />
        </operation>
        
        <operation name="getOnGoingOpportunities">
            <input message="typens:getOnGoingOpportunities" />
            <output message="typens:getOnGoingOpportunitiesResponse" />
        </operation>
        
        <operation name="getCompaniesForUser">
            <input message="typens:getCompaniesForUser" />
            <output message="typens:getCompaniesForUserResponse" />
        </operation>
        
        <operation name="getContacts">
            <input message="typens:getContacts" />
            <output message="typens:getContactsResponse" />
        </operation>
        
        <operation name="getMesRelances">
            <input message="typens:getMesRelances" />
            <output message="typens:getMesRelancesResponse" />
        </operation>
    </portType>    

    <binding name="EasiCRMWSBinding" type="typens:EasiCRMWSPortType">
        <soap:binding style="rpc"
                              transport="http://schemas.xmlsoap.org/soap/http" />

        <operation name="getNewsTitles">
            <soap:operation soapAction="urn:getNewsTitlesAction" />
            <input>
                <soap:body namespace="urn:EasiCRMWS" use="encoded"
                                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </input>
            <output>
                <soap:body namespace="urn:EasiCRMWS" use="encoded"
                                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>
        
        <operation name="getOnGoingOpportunities">
            <soap:operation soapAction="urn:getOnGoingOpportunitiesAction" />
            <input>
                <soap:body namespace="urn:EasiCRMWS" use="encoded"
                                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </input>
            <output>
                <soap:body namespace="urn:EasiCRMWS" use="encoded"
                                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>
        
        <operation name="getCompaniesForUser">
            <soap:operation soapAction="urn:getCompaniesForUserAction" />
            <input>
                <soap:body namespace="urn:EasiCRMWS" use="encoded"
                                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </input>
            <output>
                <soap:body namespace="urn:EasiCRMWS" use="encoded"
                                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>
        
        <operation name="getContacts">
            <soap:operation soapAction="urn:getContactsAction" />
            <input>
                <soap:body namespace="urn:EasiCRMWS" use="encoded"
                                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </input>
            <output>
                <soap:body namespace="urn:EasiCRMWS" use="encoded"
                                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>
        
        <operation name="getMesRelances">
            <soap:operation soapAction="urn:getMesRelancesAction" />
            <input>
                <soap:body namespace="urn:EasiCRMWS" use="encoded"
                                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </input>
            <output>
                <soap:body namespace="urn:EasiCRMWS" use="encoded"
                                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>
    </binding>

    <service name="EasiCRMWSService">
        <port name="EasiCRMWSPort" binding="typens:EasiCRMWSBinding">
            <soap:address location="http://localhost/MissionsStage5A/ifrSKEYESIntranet/WS/EasiCRMWS.php"/>			
        </port>
    </service>
</definitions>